* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.featured img{
    max-width: 100%;
    height: auto;
    display: block;
}
header {
    background-color: blanchedalmond;
    height: 5rem;
}

main {
    flex: 1;
    width: 100%;  
    padding-left:5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#nowincinema{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#watchitnow div{
    display: flex;
    gap: 20px;
    justify-content: center;
}
footer{
    background-color: blue;
    min-height: 80px;
    padding-right: 3vw;
    padding-left: 3vw;
}